.profile-png{
    width: 150px;
    border-radius: 100px;
    
}


.edit-btn{
    background-color: #efefef;
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    margin-left: 30px
}


.a-tag{
    color: black !important;
    outline: none;
    text-decoration: none !important;
    font-family: sans-serif;
    font-size: 15px;
}


.posts-img{
    width: 12px;
}

.post-tag{
    color: black !important;
    outline: none;
    text-decoration: none !important;
    font-size: 12px;
    color: black;
    font-family: sans-serif;
    border-top: 2px solid black;
    padding-top: 8px;
    
}

.post-tag:hover{
    color: black;
    outline: none;
    
}

.main{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 400px !important;  
}

.a-style{
    color: black !important;
    outline: none !important;
    text-decoration: none !important;

}

/* 

.icon-text:hover{
    background-color: #f9f9f9;
    border-radius: 50px;
    height: 58px; 
    margin-right: 18px;
    transition: width 0.3s linear;
} */