{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include "includes/sidebar.html" %}
            <div class="col-md-6">
                <div style="width: 600px; overflow-x: scroll; overflow-y: hidden;">
                    <ul class="el" style="list-style-type: none;display: flex;padding-left: 20px;padding-right: 20px;padding-top: 35px;"   >
                        {% for user in users %}
                        {%if user != request.user%}
                        <li>
                            <div>
                                <div class="box">
                                    {%if user.image %}
                                        <div onclick="openSearchh()" class="img">
                                            <img src="{{user.image.url}}" alt="" srcset="">
                                        </div>
                                        <div class="text">
                                            <p class="len">{{ user.username }}</p> 
                                        </div>
                                    {%else%}
                                        <div onclick="openSearchh()" class="img">
                                            <img src="{% static '/img/profile.png' %}" alt="" srcset="">
                                        </div>
                                        <div class="text">
                                            <p class="len">{{ user.username }}</p> 
                                        </div>   
                                    {%endif%}
                                </div>
                            </div>
                        </li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                </div>
               
    
                 <section>
                    <main class="content" >
                        <div class="res-1 " style="padding-bottom: 50px;padding-left: 90px;padding-right: 90px;">
                            {% for post in posts %}
                            <div class="card-item" style="background-color: #ffffff; margin-top: 30px;">
                                <div class="card-header">
                                 <div class="card-hover">
                                     <img style="cursor: pointer;" src="{% static '/img/profile.png'%}" alt="">
                                      <span  style="color: black;margin-left: 10px;cursor: pointer;">{{post.account.username}}</span>
                                      

                                      <div id="myOverlay" class="overlay"  >
                                        <div class="overlay-content" style="padding-left: 50px;" >
                                          <form action=" ">
                                            
                                            <button style="outline: none; " type="submit">Şikayet Et</button>
                                            <button style="outline: none;" type="submit">Takibi Bırak </button> 
                                            <button style="outline: none;" type="submit">  Favorilere ekle</button>
                                            <button style="outline: none;" type="submit"> Paylaş...  </button>
                                            <button style="outline: none;" type="submit"> Bağlantıyı Kopyala  </button>
                                            <button style="outline: none;" type="submit"> Sitene dön   </button>
                                            <button style="outline: none;" type="submit"> Bu hesap hakkında </button> 
                                            <button style="outline: none;" type="submit" class="closebtn" onclick="closeSearch()" title="CloseOverlay">İptal </button>


                                          </form>
                                        </div>
                                      </div>
                                      
                                       
                                 </div>
                                     <img class="open1"  class="openBtn" onclick="openSearch()" style="width: 25px;cursor: pointer;color: white;" src="./stat/img/salam.png" alt="">
                                 
                                </div>
                               
                                <div class="card-center card" >
                                    <img src="{{post.image.url}}" alt="" srcset="">
                                <div style="padding: 10px;">
                                  <div class="card-top" style="padding-bottom: 10px;">
                                     
                                    <div>
                                        <img style="width: 20px;cursor: pointer;" src="{% static 'img/heart.png'%}" alt="">
                                        <img style="width: 20px;margin-left: 10px;cursor: pointer;" src="{% static 'img/chat.png'%}" alt="">
                                        <img style="width: 20px;margin-left: 10px;cursor: pointer;" src="{% static 'img/send.png'%}" alt="">


                                    </div>
                                        
                                    <div>
                                        <img style="width: 20px;margin-left: 5px;cursor: pointer;" src="{% static 'img/ribbon.png'%}"alt="">
                                    </div>  
                                  </div>
                                  <p style="color: rgb(0, 0, 0);cursor: pointer;">{{post.likes}} likes</p>
                                  <div style="display: flex;">
                                  <h4 style="display: flex; gap: 4px; color: black;font-size: 16px;cursor: pointer;margin-top: -10px;" > {{post.username}}</h4>
                                    <p     class="len-2" style=" margin-top: -10px; color: rgb(0, 0, 0);margin-left: 8px;font-size: 14px;">{{post.description       }}</p> 
                                </div>
                                    <p style="font-weight: 200; color: darkgrey;margin-top: -10px;">1 yorumun tümünü gör
                                  </p>
                                  <input style="border: none;width: 100%;margin-top: -10px;outline: none;font-size: 15px;"  type="text" name="" id="" placeholder="Yorum ekle">
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div> 
                    </main>
            
                </section>  
            </div>
              


                
           
            <div class="col-md-4 basqa" style="padding-left: 50px;">
                <div class="main-profile">
                    {%if request.user.image %}
                        <img  class="profile_img" src="{{request.user.image.url}}" alt="">
                        <a class="a-tag" href="{% url 'accounts:profile_account' request.user.slug %}   ">{{ request.user.username }}</a>
                        <a href=""><button style="font-size: 13px; font-family: sans-serif; margin-left: 100px; background-color: white; border: none; color: #1877F2;">Switch</button></a>
                    {%else%}
                    
                    <img  class="profile_img" src="{% static '/img/profile.png' %}" alt="">
                    <a class="a-tag" href="{% url 'accounts:profile_account' request.user.slug %}   ">{{ request.user.username }}</a>
                    {%endif%}
                </div>

                <div style="display: flex; justify-content: center; margin-right: 47px;">
                    <p style="font-size: 15px; font-family: sans-serif;color: rgba(0, 0, 0, 0.6);">Suggestions for you</p>
                    <a href="#"><button style="font-size: 13px; font-family: sans-serif; margin-left: 100px; background-color: white; border: none; color: black">See All</button></a>
                </div>

                  
                {% for user in users %}
                 
                <div class="div-profile" >
                    {%if user.image %}
                        <img  class="profile_img" src="{{user.image.url}}" alt="">
                        <div style="margin-top: 8px;">
                            <a class="a-tag" href="{% url 'accounts:profile_account' user.slug %}   ">{{user.username}}</a>
                            
                            <p style="font-size: 13px; color:rgba(0, 0, 0, 0.6);">Follow by aliyevvf</p>
                        </div>
                        {%else%}
                        <img  class="profile_img" src="{% static '/img/profile.png' %}" alt="">
                        <div>
                            <a class="a-tag" href="{% url 'accounts:profile_account' request.user.slug %}   ">{{user.username}}</a>
                            <p style="font-size: 13px; color:rgba(0, 0, 0, 0.6);">Follow by aliyevvf</p>
                            
                        </div>
                        {%endif%}
                    <a href="#"><button style="font-size: 13px; font-family: sans-serif; margin-left: 80px; background-color: white; border: none; color: #1877F2;">Follow</button></a>
                </div>
                 
                {% endfor %}
                
            </div>
             </div>
        </div>
     

        <script>
            function openSearch() {
              document.getElementById("myOverlay").style.display = "block";
            }
            
            function closeSearch() {
              document.getElementById("myOverlay").style.display = "none";
            }
        
        </script>        
        
        
        <!-- fullscrenn -->
        <script>
            function openSearch2() {
              document.getElementById("myOverlay2").style.display = "block";
            }
            
            function closeSearch2() {
              document.getElementById("myOverlay2").style.display = "none";
            }
        </script>

{% endblock %}